.decorative-fonts {
  font-family: "yanone_kaffeesatzregular", sans-serif;
}
.default-fonts {
  font-family: sans-serif;
}
.link-white a {
  color: #ffffff;
  text-decoration: none;
}
.link-white a:visited {
  color: #ffffff;
  text-decoration: none;
}
.link-white a:hover,
.link-white a:focus,
.link-white a.active {
  color: #641511;
}
.border {
  border-color: #8b5d09;
  border-style: solid;
}
.logo-white {
  background-image: url(../img/logos/LRCmaster_white_transparent.png);
  background-repeat: no-repeat;
}
.logo-black {
  background-image: url(../img/logos/LRCmaster_black_transparent.png);
  background-repeat: no-repeat;
}
.aural {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
html {
  height: 100%;
  background: url(../img/decoration/roasting-002.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  position: relative;
  color: #ffffff;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
h2,
h3 {
  color: #bfbfbf;
  font-family: "yanone_kaffeesatzregular", sans-serif;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: 0;
}
p {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}
header {
  height: 96px;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  left: 40px;
  display: block;
  width: 300px;
  height: 270px;
  text-indent: -1000em;
  background-image: url(../img/logos/LRCmaster_white_transparent.png);
  background-repeat: no-repeat;
  background-size: 300px 270px;
}
header p.tagline {
  font-family: "yanone_kaffeesatzregular", sans-serif;
  font-size: 220%;
  font-weight: bold;
  position: absolute;
  top: 300px;
  left: 10%;
  text-align: center;
  text-shadow: none;
  width: 80%;
}
header p.tagline em {
  color: #2ea4ff;
  font-style: normal;
}
header p.tagline.move-over {
  width: 280px;
  top: 320px;
  left: 12%;
}
nav {
  position: fixed;
  top: 40px;
  left: 360px;
  z-index: 20;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  margin-right: 40px;
  display: inline-block;
}
nav ul li:last-child {
  margin-right: 0;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  font-family: "yanone_kaffeesatzregular", sans-serif;
  font-weight: bold;
  font-size: 190%;
  text-transform: uppercase;
}
nav a:visited {
  color: #ffffff;
}
nav a:hover,
nav a:focus,
nav a:active {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
nav a.selected {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
nav a.selected:hover,
nav a.selected:focus,
nav a.selected:active {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#window {
  margin: 0 auto 0 auto;
  min-height: 100%;
  position: relative;
  padding: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
#window .question {
  font-weight: bold;
  margin-top: 3em;
}
#window article {
  display: none;
  padding: 40px 10% 120px 50%;
  position: relative;
}
#window article.selected {
  display: block;
}
#window article section {
  position: fixed;
  max-width: 480px;
  width: 100%;
  height: calc(100% - 166px);
  top: 96px;
  overflow: scroll;
}
#window article section.bio img {
  border-color: #8b5d09;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}
#window article section a,
#window article section a:visited {
  color: #bb7e0c;
  text-decoration: none;
}
#window article section a:active,
#window article section a:visited:active,
#window article section a:hover,
#window article section a:visited:hover,
#window article section a:focus,
#window article section a:visited:focus {
  color: #d9d9d9;
  text-decoration: underline;
}
#window article section#findus-map #map {
  max-width: 480px;
  width: 100%;
  height: 350px;
}
#window article #findus-map #map > a.location {
  color: #000000;
}
#window article h3 {
  font-size: 220%;
  margin: .25em 0;
}
#window article h4 {
  font-size: 110%;
  margin: .25em 0;
  padding-left: 5%;
  color: #d9d9d9;
  display: block;
  position: relative;
}
#window article h4 a,
#window article h4 a:visited {
  color: #bb7e0c;
}
#window article h4 a:active,
#window article h4 a:visited:active,
#window article h4 a:hover,
#window article h4 a:visited:hover,
#window article h4 a:focus,
#window article h4 a:visited:focus {
  color: #d9d9d9;
}
#window article h4 a .icon,
#window article h4 a:visited .icon {
  position: absolute;
  top: 3px;
  left: 0;
}
#window article p {
  font-size: 100%;
  margin-top: 0;
}
#window article p.price {
  color: #cccccc;
}
#window article p.price .dollar {
  color: #ffffff;
  font-weight: bold;
}
#window article p span.day {
  font-weight: bold;
}
#window article ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#window article ul#available_varieties li {
  margin-bottom: 4em;
}
#window article ul#available_varieties li:first-child {
  margin-top: 4em;
}
#window article ul li {
  font-weight: normal;
}
footer {
  color: #e6e6e6;
  font-weight: normal;
  margin: 0;
  padding: 0 0 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 10;
}
footer p {
  margin: 0;
  font-size: 92%;
}
footer p a {
  color: #ffffff;
  text-decoration: none;
}
footer p a:visited {
  color: #ffffff;
  text-decoration: none;
}
footer p a:hover,
footer p a:focus,
footer p a.active {
  color: #e6e6e6;
}
footer .legal {
  margin-top: 1em;
  font-size: 90%;
  font-weight: normal;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
footer div#connect {
  position: absolute;
  top: 10px;
  left: 20px;
}
footer div#connect ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer div#connect ul li {
  padding: 0;
  display: inline;
  margin: 0 10px 0 0;
}
footer div#connect ul li a {
  font-size: 160%;
  color: #e6e6e6;
  text-decoration: none;
}
footer div#connect ul li a:visited {
  color: #e6e6e6;
}
footer div#connect ul li a:hover,
footer div#connect ul li a:focus,
footer div#connect ul li a:active {
  color: #bfbfbf;
}
footer div#connect ul li:last-child {
  margin-right: 0;
}
