.decorative-fonts {
  font-family: "yanone_kaffeesatzregular", sans-serif;
}
.default-fonts {
  font-family: sans-serif;
}
.link-white a {
  color: #ffffff;
  text-decoration: none;
}
.link-white a:visited {
  color: #ffffff;
  text-decoration: none;
}
.link-white a:hover,
.link-white a:focus,
.link-white a.active {
  color: #641511;
}
.border {
  border-color: #8b5d09;
  border-style: solid;
}
.logo-white {
  background-image: url(../img/logos/LRCmaster_white_transparent.png);
  background-repeat: no-repeat;
}
.logo-black {
  background-image: url(../img/logos/LRCmaster_black_transparent.png);
  background-repeat: no-repeat;
}
.aural {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
@media screen and (max-width: 975px) {
  header {
    height: 80px;
  }
  header h1 {
    width: 200px;
    height: 180px;
    background-size: 200px 180px;
    top: 10px;
    left: 25px;
  }
  header p.tagline {
    font-size: 200%;
    font-weight: bold;
    top: 250px;
    left: 5%;
    width: 90%;
  }
  header p.tagline.move-over {
    width: 200px;
    top: 200px;
    left: 5%;
    font-size: 160%;
  }
  nav {
    position: fixed;
    top: 30px;
    left: 260px;
  }
  nav ul li {
    margin-right: 15px;
  }
  nav ul li a {
    font-size: 170%;
  }
  #window {
    position: relative;
    min-height: 100%;
  }
  #window article {
    padding-left: 40%;
  }
  footer {
    padding: 15px 0;
  }
}
@media screen and (min-width: 976px) and (max-width: 10000px) and (max-height: 450px) {
  header p.tagline {
    width: auto;
    top: 90px;
    left: 360px;
  }
}
@media screen and (max-width: 850px) {
  article {
    padding: 10px 10% 120px 32%;
  }
}
@media screen and (max-width: 780px) {
  header {
    height: 62px;
  }
  header h1 {
    width: 150px;
    height: 130px;
    background-size: 150px 130px;
    top: 8px;
    left: 15px;
  }
  header p.tagline {
    font-size: 180%;
    font-weight: bold;
    top: 225px;
    width: 90%;
  }
  header p.tagline.move-over {
    width: 160px;
    top: 140px;
    left: 6%;
    font-size: 140%;
    font-weight: normal;
  }
  nav {
    top: 22px;
    left: 180px;
  }
  nav ul li {
    margin-right: 10px;
  }
  nav ul li a {
    font-size: 150%;
  }
  #window {
    min-height: 100%;
    width: 100%;
  }
  #window article {
    padding: 10px 10% 120px 32%;
  }
  #window article h3 {
    font-size: 190%;
  }
}
@media screen and (min-width: 781px) and (max-width: 975px) and (max-height: 450px) {
  header p.tagline {
    width: auto;
    top: 70px;
    left: 262px;
  }
}
@media screen and (max-width: 650px) {
  header h1 {
    width: 150px;
    height: 130px;
    background-size: 125px 105px;
    top: 8px;
    left: 15px;
  }
  header p.tagline.move-over {
    display: none;
  }
  nav {
    left: 160px;
  }
  footer p span.city-state {
    position: absolute;
    left: -1000px;
  }
  footer p span.zip-code {
    position: absolute;
    left: -1000px;
  }
  footer div#connect {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 651px) and (max-width: 780px) and (max-height: 450px) {
  header p.tagline {
    width: auto;
    top: 45px;
    left: 180px;
  }
}
@media screen and (max-width: 550px) {
  header p.tagline {
    font-size: 180%;
    font-weight: bold;
    top: 225px;
    left: 0;
    width: 100%;
  }
  header p.tagline.move-over {
    display: none;
  }
  nav {
    left: 150px;
  }
  #window {
    min-height: 100%;
    width: 100%;
    border: none;
  }
  #window article {
    padding: 10px 10% 120px 20%;
  }
  footer span.city-state {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  footer span.zip-code {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  footer div#connect {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 551px) and (max-width: 650px) and (max-height: 450px) {
  header p.tagline {
    width: auto;
    top: 46px;
    left: 158px;
    font-size: 160%;
  }
}
@media only screen and (max-width: 480px) {
  html {
    background-image: none;
  }
  body {
    background-color: #000000;
  }
  header {
    height: 50px;
  }
  header h1 {
    width: 100px;
    height: 90px;
    background-size: 100px 90px;
    top: 5px;
    left: 10px;
    background-image: none;
  }
  header p.tagline {
    font-size: 220%;
    font-weight: bold;
    top: 100px;
    padding: 0 16%;
    width: 68%;
  }
  header p.tagline.move-over {
    display: none;
  }
  nav {
    width: 100%;
    top: 10px;
    left: 0;
    text-align: center;
  }
  nav ul {
    display: inline-block;
  }
  #window {
    position: relative;
    margin-top: 50px;
    min-height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
  }
  #window:after {
    content: "";
    background-image: url(../img/logos/LRCmaster_white_transparent.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 40%;
    background-size: 75%;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  #window article {
    padding: 10px 10% 120px 10%;
  }
  footer {
    padding: 8px;
    text-align: center;
  }
  footer p {
    margin-bottom: 1em;
  }
  footer div#connect {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 550px) and (max-height: 450px) {
  header p.tagline {
    width: auto;
    top: 46px;
    left: 150px;
    font-size: 160%;
  }
  nav ul li a {
    font-size: 140%;
  }
  section {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  nav ul li a {
    font-size: 130%;
  }
}
@media only screen and (max-width: 320px) {
  header p.tagline {
    display: none;
  }
  header p.tagline.move-over {
    display: none;
  }
  nav ul li a {
    font-size: 120%;
  }
}
@media only screen and (min-width: 100px) and (max-width: 319px) {
  nav ul li a {
    font-size: 110%;
  }
}
